{% extends 'default.html' %}
{% load static %}

{% block content %}

<div class="slider">		
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
					<li data-target="#carousel-slider" data-slide-to="3"></li>
					<li data-target="#carousel-slider" data-slide-to="4"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">						
						<img src="{% static 'img/img5.jpg' %}" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2><span>Change Your Mind</span></h2>
							</div>
							<div class="col-md-4 col-md-offset-4">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
									<p>Change Your Life</p>
								</div>
							</div>
						</div> 
				    </div>

					<div class="item">						
						<img src="{% static 'img/img6.jpg' %}" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">								
								<h2>The Education You Want</h2>
							</div>
							<div class="col-md-6 col-md-offset-3">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
									<p>The Attention You Deserve</p>
								</div>
							</div>
						</div> 
				    </div>
			
				    <div class="item">
						<img src="{% static 'img/img8.jpg' %}" class="img-responsive" alt=""> 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2>Your Dreams Our Mission</h2>
							</div>
							<div class="col-md-6 col-md-offset-3">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
									<p>Your Career Path Begins Here</p>
								</div>
							</div>
						</div>
				    </div>

				    <div class="item">
						<img src="{% static 'img/img4.jpg' %}" class="img-responsive" alt=""> 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">								
								<h2>A Right Choice For</h2>
							</div>
							<div class="col-md-4 col-md-offset-4">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
									<p>Your Big Dreams</p>
								</div>
							</div>
						</div>
				    </div>

				    <div class="item">
						<img src="{% static 'img/img7.jpg' %}" class="img-responsive" alt=""> 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3">								
								<h2>Your One-Stop</h2>
							</div>
							<div class="col-md-4 col-md-offset-4">
								<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
									<p>Learning Area</p>
								</div>
							</div>
						</div>
				    </div>  
				</div>
				
				<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i> 
				</a>
				
				<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i> 
				</a>
			</div> <!--/#carousel-slider-->
		</div><!--/#about-slider-->
	</div><!--/#slider-->

<div class="about">
		<div class="container">
			<div class="text-center">
				<h2>about university</h2>
				<div class="col-md-10 col-md-offset-1">
					<p>Medi-Caps has been a brand name in the arena of technical education. Since its inception in July 2000, Medi-Caps has consistently aimed at creating an ideal ambiance for budding technocrats and managers; and helping them to grow like true professionals. With its highly qualified faculty there seems an optimal blend of academic brilliance and industry exposure, supplemented by highly specialized visiting faculty and industry experts, senior professionals from various segments of different industries and business houses. It was time now to spread wings and move out for more exposure and widening of the periphery. Hence the foundation of Medi-Caps University has been laid down. With a strong foundation of the Group since 15 years, Medi-Caps University wishes to maintain the same objective of imparting quality education and producing sound professionals for the benefit of the society at large.</p>
				</div>
		
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="btn-gamp"><a href="#obj">Learn More</a></div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="gamp-btn"><a href="http://medicaps.ac.in/upload/medicapsuniv/Final-Brochure-2020.pdf" target="blank">Brochure</a></div>
				</div>
				
			</div>	
		</div>			
	</div>
	<hr>
	
	<section id="about-us">
        <div class="container">	
			<div class="text-center wow fadeInDown">
				<h2 id="obj">objectives</h2>
				<p><b>VISION</b><br>
					To develop a technical and professional University for carrying out educational and research work of excellent nature; to generate high class technocrats and professionals for the benefit of the society at large.</p>
				<p><b>MISSION</b><br>
					To produce conceptually sound, practically oriented, value driven and well groomed technocrats and professionals.</p>
			</div>
			<div class="skill-wrap clearfix">											
				<div class="row">		
					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="joomla-skill">                                   
								<p><em>#1</em></p>
								<p>Ranked Private Engg. College in MP</p>
							</div>
						</div>
					</div>
					
					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="html-skill">                                  
								<p><em>18 LPA</em></p>
								<p>Highest package</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
							<div class="css-skill">                                    
								<p><em>3.88 LPA</em></p>
								<p>Average package</p>
							</div>
						</div>
					</div>
					
					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
							<div class="wp-skill">
								<p><em>#30</em></p>
								<p>qualified faculties</p>                                     
							</div>
						</div>
					</div>					
				</div>	
            </div>
			
			<!-- our-team -->
			<div class="team">
				<div class="text-center wow fadeInDown">
					<h2>Our Team</h2>
					<p>Meet our Chief Patrons who have worked hard to ensure quality education and healthy atmosphere<br> for the students of Medicaps University.</p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="{% static 'img/RC.jpeg' %}" height="137" width="145" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Shri R.C. Mittal</h4>
									<h5>Chancellor</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p style="text-align:justify;">The main aim of education is creation of wisdom and application of knowledge. Our goal at Medi-Caps University is to attain academic excellence so as to secure better future for our students. In order to achieve this goal, we prepare our students by giving sound knowledge. This will turn them into excellent technocrats and managers which will be an asset to the society.</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="{% static 'img/provc.jpeg' %}" height="137" width="145" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Gopal Agrawal</h4>
									<h5>Pro-Chancellor</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p style="text-align:justify;">In a scenario of exponential growth of engineering education, our efforts is to impart the best to the students through intellectually and professionally rich faculty members, training facilities and congenial educational environment, where the students could bring out the best in themselves. We believe <b>"Education will repay in terms of better lives, quality thinking and economic stability".<b></p>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="{% static 'img/vc.jpeg' %}" height="137" width="145" alt=""></a>
								</div>

								<div class="media-body">
									<h4>Dr. Sunil Somani</h4>
									<h5>Vice-Chancellor</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p style="text-align:justify;">In today's ruthless competitive arena, the students here are rendered ample support, encouragement and opportunities to achieve perfection in technical and professional skills. With mandatory internship and training programmes, every student is sufficiently given practical exposure to face the world. Since we are a university now, we believe to give the most effective results, we really need to work much harder to keep the flag of the Medi-Caps from flying high to higher heights.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="{% static 'img/dp.jpeg' %}" height="137" width="145" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Dr. D.K. Panda</h4>
									<h5>Dean (Engineering)</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p style="text-align:justify;">Medi-Caps University has grown to be amongst the best educational organization in the state of Madhya Pradesh. It is now a matured nationwide name, thriving towards attaining international standards. We have set for ourselves very high standards. We do feel the heat of the famous saying <b>"uneasy lies the head which wears the crown".</b> Other than these the various specializations, not only at the Post graduate, but also at the undergraduate level help the students to study as per their choice.</p>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->

{% endblock %}