{% extends 'default.html' %}
{% load static %}

{% block content %}

<div class="gallery">
		<div class="text-center">
			<h2>campus life</h2>
			<p>Medicaps University Campus Portfolio</p>
		</div>
		<div class="container">		
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/cc.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/cc.jpg' %}" height="360" width="480" alt="" class="img-responsive preview"/></a>
					<figcaption>
						<h4>computer centre</h4>
					</figcaption>
						<p>The computer department of the institute has state-of-the-art equipment relating to various subjects of Computer Science and Information Technology.</p>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/canteen.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/canteen.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>canteen</h4>
					</figcaption>
						<p>The canteen with an area of over 5,000 sq. ft. in an open-air environment is a pleasant din of voices, opinions and fun over food.</p>							
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/gym.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/gym.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>gymnasium</h4>
					</figcaption>
						<p>Medi-Caps Gymnasium being clean and airy has a good selection of free-weights, resistance machines and good equipments.</p>						
				</figure>
			</div>
		</div>
		
		<div class="container">
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/hostel.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/hostel.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>hostel</h4>
					</figcaption>
						<p>The University has magnificently designed separate hostels for boys and girls each with all modern facilities for boarding and other recreational activities.</p>		
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/atm.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/atm.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>atm</h4>
					</figcaption>
						<p>An ATM of State Bank Group is functioning in the campus to provide 24x7 access for the convenience of all students, faculty and staff members.</p>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/lab.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/lab.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>laboratories</h4>
					</figcaption>
						<p>Hi-end hardware and software are available to students to facilitate experiential learning. Constant guidance and support available.</p>							
				</figure>
			</div>

			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/campus.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/campus.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>smart campus</h4>
					</figcaption>
						<p>Apparently, the smart campus is aesthetically contrived with state-of-the-art equipment, facilities and ambience that motivate students for an all-round development.</p>							
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/audi.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/audi.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>auditorium</h4>
					</figcaption>
						<p>Yet another open air auditorium fit for public gatherings for more than 1500 people is another added feature for Medi-Caps University.</p>	
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/bus.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/bus.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>transport facility</h4>
					</figcaption>
						<p>The Group has a fleet of more than 29 buses for the convenience of the students and its staff members.</p>							
				</figure>
			</div>

			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/sports.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/sports.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>sports facility</h4>
					</figcaption>
						<p>Sports are an integral part of the Medi-Caps curriculum. A dedicated sports officer ensures that sports are given topmost priority in extracurricular.</p>	
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/temple.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/temple.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>temple</h4>
					</figcaption>
						<p>A separate place is assigned for the temple area which creates an ambience of serenity, peace and bliss to charge the minds with a new zeal.</p>	
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/research.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/research.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>research</h4>
					</figcaption>
						<p>The highly qualified faculty makes the environment highly amicable for research activities.</p>							
				</figure>
			</div>
		</div>
	</div>

<div class="gallery">
		<div class="text-center">
			<h2>moonstone</h2>
			<p>Medicaps University Event Portfolio</p>
		</div>
		<div class="container">		
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/medi5.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/medi5.jpg' %}" height="360" width="480" alt="" class="img-responsive preview"/></a>
					<figcaption>
						<h4>moonstone</h4>
					</figcaption>
						<p>Moonstone, a Techno-Cultural fest has always been a successful event for Medicaps University.</p>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/medi11.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/medi11.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>moonstone</h4>
					</figcaption>
						<p>Arjun Kanungo performing live at Moonstone 2018 Event in Medicaps University.</p>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/medi3.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/medi3.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>moonstone</h4>
					</figcaption>
						<p>Arjun Kanungo performing live at Moonstone 2018 Event in Medicaps University.</p>			
				</figure>
			</div>
		</div>
		
		<div class="container">
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/medi.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/medi.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>moonstone</h4>
					</figcaption>
						<p>Accord - The Band Showdown is a singing competition. Winners receive exciting prizes.</p>					
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/medi12.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/medi12.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>moonstone</h4>
					</figcaption>
						<p>Stunt Mania - a fiery show for the adventurous people.</p>						
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="{% static 'img/medi2.jpg' %}" rel="prettyPhoto"><img src="{% static 'img/medi2.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>moonstone</h4>
					</figcaption>
						<p>MU Photography Club students in a goofy mood.</p>							
				</figure>
			</div>
		</div>
	</div>

<div class="gallery">
		<div class="text-center">
			<h2>faculty</h2>
			<p>Medicaps University Faculty Portfolio</p>
		</div>
		<div class="container">		
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="http://www.medicaps.ac.in/index.php?action=sf-faculty&facultyid=2" rel="prettyPhoto" target="blank"><img src="{% static 'img/engg.jpg' %}" height="360" width="480" alt="" class="img-responsive preview"/></a>
					<figcaption>
						<h4>engineering</h4>
					</figcaption>
						<p>Faculty Departments - <b>CSE, CE, EE, EC, ME, IT, MCA, AU, EX, Fire Tech & Safety Engg.</b></p>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="http://www.medicaps.ac.in/index.php?action=sf-faculty&facultyid=3" rel="prettyPhoto" target="blank"><img src="{% static 'img/mgmt.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>management studies</h4>
					</figcaption>
						<p>Faculty Department - <b>Management Studies</b></p>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="http://www.medicaps.ac.in/index.php?action=sf-faculty&facultyid=1" rel="prettyPhoto" target="blank"><img src="{% static 'img/comm.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>commerce</h4>
					</figcaption>
						<p>Faculty Department - <b>Commerce</b></p>			
				</figure>
			</div>
		</div>
		
		<div class="container">
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="http://www.medicaps.ac.in/index.php?action=sf-faculty&facultyid=4" rel="prettyPhoto" target="blank"><img src="{% static 'img/science.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>science</h4>
					</figcaption>
						<p>Faculty Departments - <b>Forensic Science, CS, Mathematics, Physics, Chemistry, Animation & Multimedia</b></p>					
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="http://www.medicaps.ac.in/index.php?action=sf-faculty&facultyid=5" rel="prettyPhoto" target="blank"><img src="{% static 'img/agri.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>agriculture</h4>
					</figcaption>
						<p>Faculty Department - <b>Agriculture</b></p>						
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<a class="preview" href="http://www.medicaps.ac.in/index.php?action=sf-faculty&facultyid=7" rel="prettyPhoto" target="blank"><img src="{% static 'img/pharmacy.jpg' %}" alt="" class="img-responsive"/></a>
					<figcaption>
						<h4>pharmacy</h4>
					</figcaption>
						<p>Faculty Department - <b>Pharmacy</b></p>							
				</figure>
			</div>
		</div>
	</div>

{% endblock %}